
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  z-index: 999;
  position: fixed;
  width: 100%;
  background: transparent;
}

.hero-section{
  background-color: #61dafb;
  width: 100%;
  height: 640px;
  background: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, rgba(61, 179, 197, 0.8) 100%), url(assets/images/unistudy.jpg);
  padding-top: 50px;
  display: grid;
  align-items: center;
  background-size: 100% 105%;
}

.hero-section h1 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 700;
}

.hero-section h5 {
  font-size: 18px;
  color: #fff;
}
.btn.btn-outline-white {
  border: 2px solid #fff;
  background: none;
  color: #fff;
}
.hero-section .iphone-wrap {
  position: relative;
  top: -50px;
}
.uniname{
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

.hero-section .iphone-wrap .phone-2, .hero-section .iphone-wrap .phone-1 {
  width: 250px;
}
.hero-section .iphone-wrap .phone-2, .hero-section .iphone-wrap .phone-1 {
  position: absolute;
  top: 10%;
  overflow: hidden;
  left: 0;
  box-shadow: 0 15px 50px 0 rgb(0 0 0 / 30%);
  border-radius: 30px;
}

.hero-section .iphone-wrap .phone-2 {
  margin-top: 50px;
  margin-left: 100px;
  width: 250px;
}
.hero-section .iphone-wrap .phone-2, .hero-section .iphone-wrap .phone-1 {
  width: 250px;
}
.hero-section {
  padding-bottom: 150px;
}
.users{
  margin-top: 50px;
}

.card-img-top{
  height: 259px;
  width: 259px;
}

.cardname{
  text-align: center;
}
.searchbox{
  margin-top: 50px;
  margin-bottom: 50px;
}
.uniblock{
  text-decoration: none !important;
  color: #000 !important;
}
.uniblock .card-body{
  background: linear-gradient(to right, #278579 0%, #3dc581 100%);
  border-radius: .25rem;
  color: #fff;
}
.facbox{
  margin-bottom: 50px;
  margin-top: 150px;
}
.unibox{
  margin-bottom: 50px;
  margin-top: 50px;
}

.unicard{
  height: 450px;
  width: 100%;
  background-color: antiquewhite;
  border-radius: 20px;
}
.papercard{
  padding-bottom: 20px;
  width: 100%;
  background-color: antiquewhite;
  border-radius: 20px;
}
.imgsec{
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 200px;
}
.imgsec img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.contsec{
  padding-top: 20px;
}
.uniinfo{
  background-color: #fff;
  border-radius: 50px;
  height: 40px;
  align-items: center;
}
.userimg{
  height: 30px;
  width: 30px;
}
.userimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.uniname1{
  height: 40px;
  border-radius: 50px;
  background-color: #fff;
  display: grid;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
}
.papername{
  height: 40px;
  border-radius: 50px;
  background-color: #fff;
  display: grid;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
}

.unicircles{
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 18px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #000;
}
.unilable{
  text-align: center;
}
.hero-section .wave {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 100px;
}
.sicon{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #fff;
}

.schbox{
  background: linear-gradient(to right, #85276e 0%, #c53dae 100%);
  border-radius: 25px;
  align-items: center;
  height: 45px;
}

.searchtxt{
  background-color: transparent;
  border: none;
  height: 30px;
  color: #fff;
}
.searchtxt:focus{
  background-color: transparent;
  border: none;
    box-shadow: none;
    outline-offset: 0px;
    outline: none;
    color: #fff;
}
*:focus {
  outline: none;
}
.searchtxt::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
.section-heading {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(-45deg, #3db3c5, #274685);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature-1 .wrap-icon.icon-1 {
  background: linear-gradient(
-45deg
, #3b87bd, #2d71a2);
}
.feature-1 .wrap-icon {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 20%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.feature-1 h3 {
  font-size: 20px;
}
.feature-1 p {
  color: #b1b1b1;
}
.feature-2 .wrap-icon {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 20%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.feature-2 h3 {
  font-size: 20px;
}
.feature-2 p {
  color: #b1b1b1;
}


.feature-3 .wrap-icon {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 20%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.feature-3 h3 {
  font-size: 20px;
}
.feature-3 p {
  color: #b1b1b1;
}
.feature-1 .wrap-icon i {
  font-size: 40px;
  line-height: 0;
  color: #fff;
}
.feature-2 .wrap-icon i {
  font-size: 40px;
  line-height: 0;
  color: #fff;
}
.feature-3 .wrap-icon i {
  font-size: 40px;
  line-height: 0;
  color: #fff;
}
.cta-section {
  background: linear-gradient(to right, #85276e 0%, #c53dae 100%);
  color: #fff;
  padding: 7rem 0;
}
.text-md-start {
  text-align: left!important;
}
.cta-section h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
}
.cta-section h5 {
  font-size: 30px;
}
.cta-section .btn {
  background: #000000;
  color: #fff;
  margin-right: 20px;
}
.btn {
  border: none;
  padding: 15px 30px !important;
}
body{
  font-family: 'Roboto', sans-serif;
}
.order-2 {
  order: 2!important;
}
.order-1 {
  order: 1!important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.btn.btn-primary {
  background: #2d71a1;
  background: linear-gradient(
-45deg
, #1391a5, #274685);
  color: #fff;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 15%);
}
.footer .copyright, .footer .credits {
  font-size: 14px;
  color: #fff;
}
.footer .copyright {
  margin-bottom: 0px;
  color: #fff;
}
.footer .copyright, .footer .credits {
  font-size: 14px;
  color: #fff;
}
.footer h3 {
  font-size: 18px;
  margin-bottom: 30px;
  color: #fff;
}
.social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f8f9fa;
  position: relative;
  text-align: center;
  transition: .3s background ease;
  color: #fff;
  line-height: 0;
  margin-right: 15px;
}
.social a span {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.footer{
  background: linear-gradient(to right, #85276e 0%, #c53dae 100%);
  padding: 100px 0;
}
.footer ul li {
  margin-bottom: 10px;
}
.footer a {
  text-decoration: none;
  color: #fff;
}

.footer p {
  color: #fff;
}
.social a{
  color: #000 !important;
}